/* ############################################################
GLOBAL
############################################################ */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    font-weight: 300;
    font-size: 11pt;
    line-height: 1.4;

    --globalFontSize: 1em;
    --globalFontWeight: 300;

    --wSmall: 500px;
    --wMedium: 700px;
    --wLarge: 1000px;
    --wXLarge: 1200px;

    --globalBackground: rgb(255, 255, 255);
    --globalBackgroundOpacity: rgb(255, 255, 255, .7);
    --globalFontColor: rgb(25, 25, 25);
    --grayFont: rgb(98, 98, 98);
    --listDividerColor: rgb(230, 230, 230);
    --linkUnderlineColor: rgba(255, 255, 0, 0.4);
    --linkUnderlineColorHover: rgba(255, 255, 0, 0.9);
    --boxShadowColor: rgba(0, 0, 0, 0.1);
    --ratingColor: rgb(100, 100, 100);
    --grayBoxColor: rgb(240, 240, 240);
  }
    @supports (font-variation-settings: normal) {
        :root { font-family: InterVariable, sans-serif; }
    }
    @media (prefers-color-scheme: dark){
        :root{
            --globalBackground: rgb(25, 25, 25);
            --globalBackgroundOpacity: rgb(25, 25, 25, .7);
            --globalFontColor: rgb(240, 240, 240);
            --grayFont: rgb(158, 158, 158);
            --listDividerColor: rgb(40, 40, 40);
            --linkUnderlineColor: rgba(255, 255, 0, 0.2);
            --linkUnderlineColorHover: rgba(255, 255, 0, 0.6);
            --boxShadowColor: rgba(0, 0, 0, 0.4);
            --ratingColor: rgb(150, 150, 150);
            --grayBoxColor: rgb(40, 40, 40);
        }
    }

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: var(--globalBackground);
    color: var(--globalFontColor);
    scroll-behavior: smooth;
}

body {
    margin: 2rem 1rem 4rem 1rem;
}
body#index-page {
    margin-bottom: 0;
}

/* ############################################################
ELEMENTS
############################################################ */

a {
    text-decoration: underline;
    text-decoration-color: var(--linkUnderlineColor);
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: -0.15rem;
    transition: .3s;
    color: inherit;
} a:hover {
    text-decoration-color: var(--linkUnderlineColorHover);
}

p {
    margin-bottom: 1rem;
}

h1 {
    font-size: var(--globalFontSize);
    font-weight: var(--globalFontWeight);
}

hr {
    border: none;
}

ul {
    list-style: none;
}

.gray-box {
    background: var(--grayBoxColor);
    max-width: max-content;
    padding: .5rem 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: .5rem;
}

.flex {
    display: flex;
}
.flex.row {
    flex-direction: row;
    gap: 1rem;
}
.flex.column {
    flex-direction: column;
    gap: 1rem;
}
.flex.space-between {
    justify-content: space-between;
}
.flex.align-end {
    align-items: flex-end;
}
.flex.align-center {
    align-items: center;
}
.flex.center {
    align-items: center;
    justify-content: center;
}

/* ############################################################
ATTRIBUTES
############################################################ */

.monospace {font-family: 'Courier New', Courier, monospace;}

.small {
    font-size: small !important;
}

.gray {color: var(--grayFont);}

.faded {color: var(--listDividerColor);}

a.plain-link {text-decoration: none;}
a.plain-link * {transition: .3s ease;}
a.plain-link:hover * {opacity: .5;}

.align-right {text-align: right;}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-0 {margin: 0 !important;}
.mt-0 {margin-top: 0 !important;}
.mr-0 {margin-right: 0 !important;}
.mb-0 {margin-bottom: 0 !important;}
.ml-0 {margin-left: 0 !important;}

.w-s {max-width: var(--wSmall);}
.w-m {max-width: var(--wMedium);}
.w-l {max-width: var(--wLarge);}
.w-xl {max-width: var(--wXLarge);}

.space-1 {height: 1rem;}
.space-2 {height: 2rem;}
.space-3 {height: 3rem;}
.space-6 {height: 6rem;}

hr.divider {
    border-bottom: 1px solid !important;
    border-color: var(--listDividerColor);
    margin: 1rem 0;
}

:target {
    border-radius: .5rem;
    animation-name: targetAnimation;
    animation-duration: 3s;
}

.rating::before {
    color: var(--ratingColor);
}
    .rating.ten::before {content: "\2605\2605\2605\2605\2605";}
    .rating.nine::before {content: "\2605\2605\2605\2605\00BD";}
    .rating.eight::before {content: "\2605\2605\2605\2605";}
    .rating.seven::before {content: "\2605\2605\2605\00BD";}
    .rating.six::before {content: "\2605\2605\2605";}
    .rating.five::before {content: "\2605\2605\00BD";}
    .rating.four::before {content: "\2605\2605";}
    .rating.three::before {content: "\2605\00BD";}
    .rating.two::before {content: "\2605";}
    .rating.one::before {content: "\00BD";}

.fav::after {
    content: "\2665";
    color: var(--ratingColor);
    color: rgba(255, 0, 0, .6);
    margin-left: 7px;
}

/* ############################################################
CONTENT
############################################################ */

.container {
    max-width: var(--wXLarge);
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    position: relative;
}
    .logo:hover {
        opacity: .5;
    }

    .question {
        max-width: var(--wSmall);
        position: absolute;
        right: 0;
        z-index: 2;
    }
    .question summary {
        max-width: max-content;
        margin-left: auto;
        margin-right: 0;
        font-size: .9em;
        margin-bottom: 1rem;
        cursor: pointer;
        color: var(--listDividerColor);
        transition: .3s ease;
    }.question > summary::-webkit-details-marker {display: none;}
    .question summary:hover {
        color: var(--grayFont);
    }
    details[open] > summary {
        color: var(--grayFont);
    }
    .question .answer {
        background: var(--globalBackground);
        padding: 1rem;
        border: 1px solid;
        border-color: var(--listDividerColor);
        border-radius: .5rem;
        box-shadow: inset 0 5px 10px var(--boxShadowColor);
        color: var(--grayFont);
    }
    .question .answer p:last-child {
        margin-bottom: 0;
    }
    

main {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

section {
    margin-bottom: 2rem;
}

section > h1 {
    padding: 1rem 0;
    font-weight: 600;
}

.list-area p {
    margin-bottom: .7rem;
}

.period {
    display: grid;
    grid-template-columns: 110px auto;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    border-top: 1px solid;
    border-color: var(--listDividerColor);
} .period:first-child {
    border-top: none;
}
.period > * {
    padding-top: 1rem;
}
    .date {
        padding-top: 0;
        color: var(--grayFont);
    }
        .date h1 {
            position: sticky;
            top: 0;
            padding: 1rem 0;
        }
    .item {
        padding: 1rem 0;
        border-bottom: 1px solid;
        border-color: var(--listDividerColor);
    } .item:first-child {
        padding-top: 0;
    } .item:last-child {
        border: none;
    }
        .title {
            margin-right: .2em;
        }
        .rating {
            color: var(--ratingColor);
        }
        .desc {
            color: var(--grayFont);
            display: block;
            margin-top: .7rem;
            max-width: var(--wMedium);
        }
            .desc p:last-child {
                margin-bottom: 0;
            }

footer {
    background: var(--globalBackgroundOpacity);
    backdrop-filter: blur(8px) !important;
    -webkit-backdrop-filter: blur(8px) !important;
    position: fixed;
    bottom: -2px;
    left: 0;
    right: 0;
    padding: 1rem;
}

    footer a {
        text-decoration: none;
    } footer a:hover {
        opacity: .5;
    }
    footer nav {
        max-width: var(--wXLarge);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
        footer nav ul {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
        }

#contact-page main {
    margin-bottom: 0 !important;
}
section.lines {
    background: repeating-linear-gradient(to right, var(--listDividerColor), var(--listDividerColor) 1px, var(--globalBackground) 1px, var(--globalBackground) 15px);
    min-height: 70vh;
    margin-bottom: 1rem;
    max-width: var(--wXLarge);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#index-page section.lines {
    height: 100vh;
}
.error-page section.lines {
    background: repeating-linear-gradient(to right, var(--listDividerColor), var(--listDividerColor) 1px, var(--globalBackground) 1px, var(--globalBackground) 15px);
    min-height: 50vh;
}
#error-triangle {
    max-width: max-content;
    margin-left: auto;
    margin-bottom: -3rem;
    margin-right: 15px;
    font-size: 4em;
    color: var(--listDividerColor);
}
#contact-page section.lines {
    min-height: 10rem;
    height: 35vh;
    margin-right: 30px;
    margin-bottom: 0;
    max-width: var(--wMedium);
}
#contact-page section.card {
    background: var(--grayBoxColor);
    margin-left: 45px;
    margin-top: -6rem;
    max-width: var(--wMedium);
    min-height: 12rem;
    height: 22vw;
    padding: 1rem 1rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#contact-page section.card hr#black {
    height: 30px;
    background-color: var(--globalBackground);
}

/* ############################################################
MEDIA RULES
############################################################ */

@media only screen and (max-width:500px) {
    .period {
        display: block;
    }
        .date {
            position: sticky;
            top: -2px;
            background: var(--globalBackground);
        }
        .date h1 {
            padding: .5rem 0;
            border-bottom: 1px solid var(--listDividerColor);
            margin-bottom: -1px;
        }
        .desc {
            margin-left: .7rem;
        }
    footer nav ul {
        gap: 1rem;
    }
    #contact-page section.lines {
        margin-right: unset;
    }
    #contact-page section.card {
        margin-left: 15px;
        font-size: .9em;
    }
}
@media only screen and (max-width:320px) {
    footer {
        font-size: .8em;
    }
}

/* ############################################################
ANIMATIONS
############################################################ */

@keyframes targetAnimation {
  
    from {background-color: var(--linkUnderlineColor);}
    to {background-color: none;}
}