/*
---------------------------------------

VARIABLES

---------------------------------------
*/

:root{
    --globalBackground: rgb(255,255,255);
    --globalFontColor: rgb(32,32,32);
    --globalLinkUnderlineColor: rgb(255, 255, 55);
    --globalLinkUnderlineColorHover: rgb(255, 255, 195);
    --fadedTextColor: rgb(214, 214, 214);
    --asteriskColor: rgb(85, 85, 85);
    --listDividerColor: rgb(235, 235, 235);
    --ratingColor: rgb(100, 100, 100);
    --blockquoteBorderColor: rgba(224, 60, 0, .5);
    --grayBoxColor: rgb(240, 240, 240);
    --footerLinkColorHover: rgb(128,128,128);
    --footerBackgroundColor: rgba(255, 255, 255, 0.75);
    --footerTextColor: rgb(70, 70, 70);
    --contentWidth: 700px;
    --largeWidth: 1200px;
    --globalTopMargin: 50px;
}
    /* Dark Mode */
    @media (prefers-color-scheme: dark){
        :root{
            --globalBackground: rgb(25, 25, 25);
            --globalFontColor: rgb(240, 240, 240);
            --globalLinkUnderlineColor: rgb(80, 80, 0);
            --globalLinkUnderlineColorHover: rgb(60, 60, 0);
            --fadedTextColor: rgb(70, 70, 70);
            --asteriskColor: rgb(170, 170, 170);
            --listDividerColor: rgb(45, 45, 45);
            --ratingColor: rgb(155, 155, 155);
            --grayBoxColor: rgb(40, 40, 40);
            --footerBackgroundColor: rgba(25, 25, 25, 0.75);
            --footerLinkColorHover: rgb(128,128,128);
            --footerTextColor: rgb(180, 180, 180);
        }
    }



/*

---------------------------------------

GLOBAL

---------------------------------------

*/

body {
    background-color: var(--globalBackground);
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;    font-size: 1em;
    line-height: 1.5;
    color: var(--globalFontColor);
    padding-bottom: 70px !important;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 300;
    transition: 0.3s ease-out;
}



/*
---------------------------------------

ATTRIBUTES

---------------------------------------
*/

.faded {
    color: var(--fadedTextColor);
}

.description{
    font-size: 1.2em;
    font-weight: 400;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

.asterisk::before {
    content: '';
    width: 1.5rem;
    height: 2.5rem;
    background: var(--asteriskColor);
    clip-path: path('M11.93.684v8.039l5.633-5.633 1.216 1.23-5.66 5.66h8.04v1.737H13.2l5.701 5.701-1.23 1.23-5.742-5.742V21h-1.737v-8.094l-5.77 5.77-1.23-1.217 5.743-5.742H.842V9.98h8.162l-5.701-5.7 1.23-1.231 5.66 5.66V.684h1.737Z');
    display: block;
}

.arrow-right::after {
    content: " \2192";
}

.rating::before {
    color: var(--ratingColor);
}
    .rating.ten::before {content: "\2605\2605\2605\2605\2605";}
    .rating.nine::before {content: "\2605\2605\2605\2605\00BD";}
    .rating.eight::before {content: "\2605\2605\2605\2605";}
    .rating.seven::before {content: "\2605\2605\2605\00BD";}
    .rating.six::before {content: "\2605\2605\2605";}
    .rating.five::before {content: "\2605\2605\00BD";}
    .rating.four::before {content: "\2605\2605";}
    .rating.three::before {content: "\2605\00BD";}
    .rating.two::before {content: "\2605";}
    .rating.one::before {content: "\00BD";}

.fav::after {
    content: "\2665";
    color: var(--ratingColor);
    margin-left: 10px;
    color: rgba(255, 0, 0, .6);
}



/*
---------------------------------------

ELEMENTS

---------------------------------------
*/

a {
    text-decoration: underline;
    text-decoration-color: var(--globalLinkUnderlineColor);
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: -0.15rem;
    transition: .3s;
    color: inherit;
}
    a:hover {
        text-decoration-color: var(--globalLinkUnderlineColorHover);
    }

.standard-space-one {height: 1em;}
.standard-space-two {height: 1.5em;}
.standard-space-three {height: 2em;}

.custom-unordered-list {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}
    .custom-unordered-list li {
        border-bottom: 1px solid;
        border-color: var(--listDividerColor);
        padding: 20px 0;
    }
    .custom-unordered-list li:first-child {padding-top: 0;}
    .custom-unordered-list li:last-child {border: none;}

        .custom-unordered-list li .item-title {
            display: block;
        }
            .custom-unordered-list li .item-title .work-title {
                margin-right: 10px;
            }
            
        .custom-unordered-list li .comment {
            padding-top: 10px;
            color: gray;
            margin-left: 40px;
        }

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
}

h1 {
    font-size: 1.8em;
}

.two-column-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: start;
    align-content: stretch;
    justify-content: space-between;
}
    .two-column-flex-container .flex-item:nth-child(1), .two-column-flex-container .flex-item:nth-child(2) {
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        width: 47%;
    }
    @media only screen and (max-width: 500px) {
        .two-column-flex-container {
            display: block;
        }
        .two-column-flex-container .flex-item {
            width: auto !important;
            margin-bottom: 3em;
        }
    }

blockquote {
    border-left: 2px solid;
    border-color: var(--blockquoteBorderColor);
    margin-left: 0px;
    padding-left: 20px;
    font-style: italic;
}

.gray-box {
    display: inline-block;
    background-color: var(--grayBoxColor);
    padding: 10px 15px;
    border-radius: 7px;
}



/*
---------------------------------------

CONTENT

---------------------------------------
*/

.content-container {
    max-width: var(--contentWidth);
    margin: 0 auto;
    margin-top: var(--globalTopMargin);
    margin-bottom: 20px;
}

@media screen and (orientation: portrait) {
    .home-vh {
        min-height: 80vh; /* Mobil cihazlar için anasayfa yüksekliğini ayarlar. */
    }
}



/*
---------------------------------------

FOOTER

---------------------------------------
*/

footer {
    background: var(--footerBackgroundColor);
    position: fixed;
    left: 0; right: 0; bottom: 0;
    transform: translateY(2px);
    padding: 15px 15px;
    backdrop-filter: blur(8px) !important;
    -webkit-backdrop-filter: blur(8px) !important;
    color: var(--footerTextColor);
    font-weight: 400;
}
    footer a {
        text-decoration: none;
    }
    footer a:hover {
        color: var(--footerLinkColorHover);
    }

    .footer-flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        max-width: var(--largeWidth);
        margin: 0 auto;
    }
    
        .footer-flex-item:nth-child(1) {
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        }

        .footer-flex-item:nth-child(2) {
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        }

            .footer-navigation {
                list-style: none;
                padding-inline-start: 0;
                margin: 0;
            }
                .footer-navigation li {
                    display: inline-block;
                    margin-left: 20px;
                }
